* {
    -fx-background-color: #151515;
    -fx-text-fill: white;
}

.modPod {
    -fx-background-color: #252525;
    -fx-padding: 10px 0px 0px 15px;
    -fx-background-insets: 10px 0px 0px 0px;
}

.txtBusca, .txtBusca * {
    -fx-background-color: #252525;
}

Button {
    -fx-background-color: #24914D
}